@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EDF1FD;
    color: #333;
    line-height: 1.6;
}

main {
    display: flex;
}

ul {
    list-style: none;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
    flex: 1 0 1000px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

#main-heading {
    margin-top: 50px;
}

.form-input {
    display: flex;
    gap: 5px;
}

.form-textbox, .input-add-list-popup {
    border-bottom: solid 4px #ff6a95;
    border-radius: 5px;
    background-color: #cccccc;
    padding: 5px 10px;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 20px 0;
    position: relative;
}

aside {
    position: relative;
}

#menu-list {
    display: none;
}

/* Upon clicking the label, input/label box gains shadow and changes (gray) color */
#menu-list:checked + label {
    color: #13e7c6;
}

.menu {
    border: 1px solid #cecfd5;
    border-style: none;
    position: absolute;
    color: #8b8b8b;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
    transition: all .05s ease;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 28px;
    z-index: 999;
}

.menu:hover {
    color: #8b8b8b;
    outline: 3px #8b8b8b solid;
    border-radius: 50%;
}

.menu:active {
    font-size: 30px;
}

/* The max-height property defines the maximum height of an element. */
/* If the content is larger than the maximum height, it will overflow. */
/* sets the max height to 0. Since there is content inside the overflow property hides content */
nav {
    position: absolute;
    display: inline-block;
    max-height: 0;
    overflow: hidden;
    transition: all .15s .04s;
    padding: 20px;
    border-radius: 10px;
}

/* upon being check sets the max-height large enough to display content */
#toggle:checked ~ nav {
    max-height: 500px;
    background-color: #f7f7fc;
    box-shadow: 10px 10px 10px -6px #828282;
    transition: all .15s .04s;
}

#list-sidebar {
    background-color: #e7e7e7;
    padding: 90px 30px 30px;
    position: absolute;
    border-radius: 0 15px 15px 0;
    box-shadow: 10px 10px 10px -6px #828282;
    z-index: 1;
}

.list-name--contaier {

}

.list-name, .add-list-name {
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    position: relative;
    width: 350px;
    border: 1px solid #a8a8a8;
}

.list-name:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.list-name:active {
    opacity: 0.7;
}

.add-list-name {
    display: none;
    border-style: none;
    font-size: 18px;
    background-color: #ff6a95;
    color: #ffffff;
}

.list-text {
    margin-left: 10px;
}

.add-list-name.active {
    display: inline-block;
}

.add-list-name:hover {
    transform: scale(0.98);
    opacity: 0.9;
}

.add-list-name:active {
    transform: scale(1);
    opacity: 1;
}

.form-container {
    display: flex;
    margin: 15px 30px;
    flex-basis: 100%;
    align-items: center;
}

.add-item {
    display: inline-block;
}

.add-item-form {
    flex-basis: 25%;
    display: none;
}

.add-item.active {
    display: none;
}

.add-item-form.active {
    flex-basis: 25%;
    display: inline-block;
}

.active-list {
    border: solid #f4f401;
    box-shadow: 10px 5px 5px #b8b8b8;
}

.card h2 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

h3 {
    margin-bottom: 10px;
    background-color: #cccccc;
    padding: 7px 14px;
    border-radius: 15px;
}

.list-item {
    padding: 10px;
    font-size: 19px;
    border-bottom: 1px #cccccc solid;
    transition: 0.3s;
    padding: 25px 20px;
}

.filter-input {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input {
    flex-grow: 2;
    border: none;
    font-size: 20px;
}

input:focus {
    outline: none;
}

.fa-magnifying-glass {
    position: absolute;
    left: 70px;
    bottom: 57px;
    font-size: 30px;
}

.clear-filter {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 70px;
    bottom: 57px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    font-weight: bolder;
    height: 18px;
    width: 18px;
    padding: 15px
}

.clear-filter:hover {
    border-radius: 25px;
    background-color: red;
    color: #ffffff;
}

.clear-filter:active {
    opacity: 0.6;
}

.fa-cart-shopping {
    position: relative;
    font-size: 50px;
    padding-right: 20px;
    color: #8b8b8b;
}

.show-x {
    display: flex;
}

.count-cart {
    height: 35px;
    width: 35px;
    position: absolute;
    display: flex;
    top: 5px;
    left: 20px;
    font-size: 18px;
    font-weight: bolder;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #13e7c6;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#filter {
    padding: 20px 10px 20px 60px;
}

.filter-container {
    display: flex;
}

.filtered {
    display: none;
}

.btn {
    border: 0;
    border-radius: 8px;
    color: #fff;
    width: 100px;
    height: 40px;
    cursor: pointer;
    background-color: #ff6a95;
}

.btn:hover {
    transform: scale(0.98);
    opacity: 0.9;
}

.btn:active {
    transform: scale(100%);
    opacity: 100%;
}

/* Customize the label (the container) */
.box-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.zero-items-message {
    font-size: 22px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.box-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.box-container input:checked ~ .checkmark {
    background-color: #13e7c6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.box-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.box-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.input-add-list-popup {
    width: 100%;
}

.add-list-popup {
    display: none;
    width: 100%;
    text-align: center;
}

.add-list-popup.active {
    display: block;
}

.input-add-list-popup {
    border: 1px solid #aaa;
    margin-bottom: 10px;
}

.add-list-popup-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.button-add-list-popup {
    /*border: 1px solid #99dd99;*/
    background-color: #13e7c6;
    font-weight: bold;
}

.button-cancel-list-popup {
    /*border: 1px solid #eeadad;*/
    background-color: #ff6a95;
    font-weight: bold;
}

.button-add-list-popup:hover {
    opacity: 0.7;
}

.button-cancel-list-popup:hover {
    opacity: 0.7;
}

.sl-list--container, .cl-list--container {
    overflow: auto;
    max-height: 30vw;
}

