@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EDF1FD;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 20px 0;
    position: relative;
}


.card h2 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

h3 {
    margin-bottom: 10px;
    background-color: #cccccc;
    padding: 7px 14px;
    border-radius: 15px;
}

li {
    padding: 10px;
    font-size: 19px;
    border-bottom: 1px #cccccc solid;
    transition: 0.3s;
    padding: 20px;
}

.form-input {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input {
    flex-grow: 2;
    border: none;
    font-size: 20px;
}

input:focus {
    outline: none;
}

.fa-magnifying-glass {
    position: absolute;
    right: 70px;
    bottom: 57px;
    font-size: 30px;
}

#filter {
    padding: 20px 10px;
}

.filter-container {
    display: flex;
}

.btn {
    border: 0;
    border-radius: 8px;
    color: #fff;
    width: 100px;
    height: 40px;
    cursor: pointer;
    background-color: #ff6a95;
}

.btn:hover {
    transform: scale(0.98);
    opacity: 0.9;
}




